.tool-box-button {
    -gtk-icon-size: 2rem;
}

.pinned-section {
    background-color: alpha(@accent_bg_color, 0.12);
    padding: 2px;
}

.tool-bar-scale {
    margin-top: -4px;
    margin-bottom: -5px;
}

#canvas {
    box-shadow: 0px 0px 2px 2px #7F7F7F;
}

#new-image-preview {
    box-shadow: 0px 0px 2px 2px #7F7F7F;
}
